body {
    font-family: Arial, Helvetica, sans-serif;
     margin: 0 auto; 
     background: white; 
     line-height: 1.8em; 
     padding: 12px; 
     box-sizing: border-box; 
     color: #333;}

.wrapper {
    background: #faf9f7;
    justify-content: center;
    padding: 50px;
}

.name {
    margin-top: 100px;
    border: 5px solid red;
    padding: 10px;
    color: red;
    border-radius: 10px;
}

a {
    color: #777; 
    text-decoration: none; 
    border-bottom: 1px solid #fd194ac7;
}

a:hover {
    border-bottom: 1px solid #009999;
    color: #222
    }

p {
    font-weight: 200; 
    font-size: 20px;
}

.highlight {
    font-size: 20px; 
    font-weight: bold;
    color: red;
    border-bottom-style: solid;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.text {
    text-transform: uppercase; 
    font-family: Courier New, Quicksand, "Helvetica Neue", "Arial", sans-serif; 
    font-size: 15px; 
    letter-spacing: .15em;}

.text a:hover {
    border-bottom: 1px solid #04ffff; 
    color: #333;}

.links {
    list-style: none; 
    margin: 0; 
    padding: 0;
    display: flex;
    width: 50vw;
    justify-content: space-around;
}
